name: Continuous Integration
on:
  pull_request:
jobs:
  lint-and-test:
    name: "Lint and Test"
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: block
          policy: global-allowed-endpoints-policy

      - name: Check out repository code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Install Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0

      - name: Install Dependencies
        run: yarn install

      - name: Run Linter
        run: yarn lint

      - name: Run Build
        run: yarn build

      - name: Run Unit Tests
        run: yarn test

  scan:
    needs: lint-and-test
    uses: circlefin/circle-public-github-workflows/.github/workflows/pr-scan.yaml@v1
